body{
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

#main-body{
    width: auto;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

.header{
    width: 100%;
    height: 40px;
    background-color: rgb(198, 198, 198);
    position: fixed;
    z-index: 1;
}

.header h4{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 20px;
}

.left-content, .right-content{
 margin-top: 40px;
 flex: 0 0 auto;
 width: 17%;
 background-color: tomato;
 color: white;
 padding: 10px;
 display: flex;
 flex-direction: column;
}

.name{
    width: 80%;
    height: 10vh;
    background-color: yellow;
    text-align: center;
}

.menu{
    width: 80%;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.menu-button{
    width: 80%;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
}

#more{
    margin-top: auto;
}

.main-content{
    flex: 1;
    overflow: auto;
    background-color: black;
}

.scroller{
    padding: 10px;
    margin-top: 40px;
}

.stories{
    overflow-x: auto;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
}

.story{
    flex: 0 0 auto;
    width: 12vh;
    height: 12vh;
    background-color: rgb(7, 7, 7);
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round{
    width: 8vh;
    height: 8vh;
    border-radius: 20vh;
    background-color: saddlebrown;
    border: 2px solid tomato;
}

.sname{
    width: 11vh;
    background-color: springgreen;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postbox{
    width: 70%;
    height: 77vh;
    background-color: rgb(255, 255, 255);
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    border-top: 0.2px solid grey;
    border-bottom: 0.2 solid grey;
}

.topbar{
    width: auto;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding:1%;
}

.topbar-round{
    width: 5vh;
    height: 5vh;
    background-color: yellowgreen;
    border-radius: 50%;
    border: 3px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.topbar-round-img{
    max-width: 100%;
    height: 5vh;
    object-fit: cover;
}

.topbar-name{
    width: 25%;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    margin-left: 5px;
    color: white;
}

.topbar-name h5{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 11%;
}

.topbar-time{
    width: 10%;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    color: white;
}

.topbar-time h5{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 28%;
}

.topbar-button{
    width: 10%;
    min-height: 6vh;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.topbar-button button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
    cursor: pointer;
}

.media{
    width: 100%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.media-content{
    max-width: 100%;
    height: 50vh;
    object-fit: cover;
}

.postbox-btn{
    width: 100%;
    height: 4vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.top-btns{
    width: auto;
    height: 4vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 3px;
    color: white;
    margin-top: 2px;
}

.top-btns i{
    font-size: 21px;
}

.btn-set-one{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.btn-set-two{
    margin-left:auto
}

.postbox-text{
    height: 17vh;
    width: 100%;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    color: white;
}

.like{
    width: auto;
    height: 2vh;
    background-color: rgb(0, 0, 0);
}

.caption{
    width: auto;
    height: 4vh;
    background-color: rgb(0, 0, 0);
    
}

.str-btn{
    width: auto;
    height: 3vh;
    background-color: rgb(0, 0, 0);
}

.View-comment{
    width: auto;
    height: 4vh;
    background-color: rgb(0, 0, 0);
}

.Add-comment{
    width: auto;
    height: 4vh;
    background-color: rgb(0, 0, 0);
}

.like p, .caption p, .str-btn button, .View-comment p, .Add-comment p{
    margin-top: 0px;
}

.like p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.caption p{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caption span{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.str-btn button{
    height: 2vh;
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    font-size: 12px;
    color: silver;
}

.View-comment button{
    height: 3vh;
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    font-size: 14px;
    color: silver;
}

.Add-comment{
    display: flex;
}

.Add-comment button{
    height: 3vh;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    color: silver;
}

.emoji{
    margin-left: auto;
}

.right-content{
    width: 30%;
    overflow: auto;
}

.right-content-scroller{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.account{
    width: 100%;
    height: 8vh;
    background-color: steelblue;
}

.suggested{
    width: 100%;
    height: 3vh;
    background-color: beige;
    margin-top: 15px;
}

.chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.chatbox{
    width: 100%;
    height: 7vh;
    background-color: turquoise;
    margin-top: 10px;
}






