
body{
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

#main-body{
    width: auto;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

.header{
    width: 100%;
    height: 40px;
    background-color: rgb(198, 198, 198);
    position: fixed;
    z-index: 1;
}

.header h4{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-content, .right-content{
 margin-top: 40px;
 flex: 0 0 auto;
 width: 17%;
 background-color: rgb(0, 0, 0);
 color: white;
 padding: 10px;
 display: flex;
 flex-direction: column;
}

.left-content{
    border-right: .01px solid rgb(37, 37, 37);
}

.right-content{
    border-left: .01px solid rgb(37, 37, 37);
}

.name{
    width: 80%;
    background-color: rgb(0, 0, 0);
    text-align: left;
    font-size: 30px;
    margin-top: 0;
}

.menu{
    width: 80%;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.menu-button{
    width: 80%;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
}

.menu-button i{
    font-size: 18px;
}

#more{
    margin-top: auto;
}

.main-content{
    flex: 1;
    overflow: auto;
    background-color: black;
}

.scroller{
    padding: 10px;
    margin-top: 40px;
}

.stories{
    overflow-x: auto;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    margin-left: 10px;
}

.story{
    flex: 0 0 auto;
    width: 12vh;
    height: 12vh;
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.round{
    width: 8vh;
    height: 8vh;
    border-radius: 20vh;
    background-color: saddlebrown;
    border: 3px solid tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.story-round-img{
    border-radius: 30%;
    width: 8vh;
    height: 8vh;
    object-fit: cover;
}

.sname{
    width: 11vh;
    background-color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postbox{
    width: 70%;
    height: 77vh;
    background-color: rgb(255, 255, 255);
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    border-top: 0.2px solid grey;
    border-bottom: 0.2 solid grey;
}

.topbar{
    width: auto;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding:1%;
}

.topbar-round{
    width: 5vh;
    height: 5vh;
    background-color: yellowgreen;
    border-radius: 50%;
    border: 3px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.topbar-round-img{
    max-width: 100%;
    height: 5vh;
    object-fit: cover;
}

.topbar-name{
    width: 25%;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    margin-left: 5px;
    color: white;
}

.topbar-name h5{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 11%;
}

.topbar-time{
    width: 10%;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    color: white;
}

.topbar-time h5{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 28%;
}

.topbar-button{
    width: 10%;
    min-height: 6vh;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.topbar-button button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
    cursor: pointer;
}

.media{
    width: 100%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.media-content{
    max-width: 100%;
    height: 50vh;
    object-fit: cover;
}

.postbox-btn{
    width: 100%;
    height: 4vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.top-btns{
    width: auto;
    height: 4vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 3px;
    color: white;
    margin-top: 2px;
}

.top-btns i{
    font-size: 21px;
}

.btn-set-one{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.btn-set-two{
    margin-left:auto
}

.postbox-text{
    height: 17vh;
    width: 100%;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    color: white;
}

.like{
    width: auto;
    height: 2vh;
    background-color: rgb(0, 0, 0);
}

.caption{
    width: auto;
    height: 4vh;
    background-color: rgb(0, 0, 0);
    
}

.str-btn{
    width: auto;
    height: 3vh;
    background-color: rgb(0, 0, 0);
}

.View-comment{
    width: auto;
    height: 4vh;
    background-color: rgb(0, 0, 0);
}

.Add-comment{
    width: auto;
    height: 4vh;
    background-color: rgb(0, 0, 0);
}

.like p, .caption p, .str-btn button, .View-comment p, .Add-comment p{
    margin-top: 0px;
}

.like p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.caption p{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caption span{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.str-btn button{
    height: 2vh;
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    font-size: 12px;
    color: silver;
}

.View-comment button{
    height: 3vh;
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    font-size: 14px;
    color: silver;
}

.Add-comment{
    display: flex;
}

.Add-comment button{
    height: 3vh;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    color: silver;
}

.emoji{
    margin-left: auto;
}

.right-content{
    width: 30%;
    overflow: auto;
}

.right-content-scroller{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.account{
    width: 100%;
    height: 8vh;
}

.account-btn{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}

.account-btn-round{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 3px solid orange;
    overflow: hidden;
}

.account-btn-round-img{
    width: 5vh;
    height: 5vh;
}

.account-btn-name{
    margin-left:3px;
    width: 30vh;
    height: 6vh;
    display: flex;
    flex-direction: column;
}

.account-btn-name .name1{
    width: 100%;
    height: 3vh;
    display: flex;
}

.name1 h5{
    margin-top: 10px;
    margin-left: 2vh;
    font-size: 13px;
    color: white;
}

.account-btn-name .name2{
    width: 100%;
    height: 3vh;
    display: flex;
}

.name2 h5{
    margin-top: 5px;
    margin-left: 2vh;
    font-size: 13px;
    color: rgb(126, 127, 128);
}

.account-btn-button{
    width: 10vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.switch{
    font-weight: 600;
    text-decoration: none;
    color: rgb(38, 136, 255);
}

.suggested{
    width: 100%;
    height: 3vh;
    margin-top: 5px;
    display: flex;
}

.suggested-name1{
    width: 35vh;
    height: 3vh;
    display: flex;
    justify-content: center;
}

.suggested-name1 h5{
   margin-top: 1px;
   margin-right: auto;
   font-size: 15px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(159, 159, 159);
}

.suggested-name2{
    width: 17vh;
    height: 3vh;
    display: flex;
    justify-content: center;
}

.suggested-name2 a{
    margin-top: 1px;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(242, 242, 242);
    font-weight: 600;
}

.suggested-name2 a{
    margin-left: auto;
    text-decoration: none;;
}

.chat{
    width: 100%;
    display: flex;
    flex-direction: column;
}







