body{
    margin: 0;
}

#main-body{
    width: auto;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

.header{
    width: 100%;
    height: 30px;
    background-color: rgb(198, 198, 198);
    position: fixed;
}

.left-content, .right-content{
 flex: 0 0 auto;
 width: 250px;
 background-color: tomato;
 color: white;
 padding: 20px;
}

.right-content{
    width: 400px;
    overflow: auto;
}

.main-content{
    flex: 1;
    overflow: auto;
    background-color: black;
}

.scroller{
    padding: 10px;
}

.right-content-scroller{
    padding: 10px;
}




